.CreatureCard {
  background-color: #bbbcac;
  box-sizing: border-box;
  border: 3px solid #582d30;
  border-radius: 1em;
  list-style: none;
  padding: 1em;
}

.CreatureCard h4 {
  color: #d32430;
}

.creature-image {
  max-width: 100%;
}