.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.AdoptableCreatures {
  min-width: 100vw;
}

.font-face-modesto-condensed {
  font-family: 'Modesto-Condensed';
}

.font-face-modesto-expanded {
  font-family: 'Modesto-Expanded';
}

.font-face-bookman-bt-roman-headline {
  font-family: 'BookmanBT-RomanHeadline';
}

.loading,
.error-message {
  font-family: 'Modesto-Expanded';
  font-size: xx-large;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.error-message {
  color: #d32430;
}

.loading {
  color: #bbbcac;
}