.App {
  text-align: center;
  display: flex;
  flex-direction: column;

}

.AdoptableCreatures {
  min-width: 100vw;
}

.font-face-modesto-condensed {
  font-family: 'Modesto-Condensed';
}

.font-face-modesto-expanded {
  font-family: 'Modesto-Expanded';
}

.font-face-modesto-poster {
  font-family: 'Modesto-Poster';
}

.loading,
.error-message {
  font-family: 'Modesto-Expanded';
  font-size: xx-large;
  padding-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
}

.error-message {
  color: #d32430;
}

.loading {
  color: #bbbcac;
}

/* SMALL BREAKPOINT */
/* @media screen and (max-width: 480px) {
  header {
    
  }
} */

/* MEDIUM BREAKPOINT */
/* @media screen and (max-width: 768px) and (min-width: 481px) {
  header {
    
  }
} */

/* LARGE BREAKPOINT */
/* @media screen and (max-width: 1024px) and (min-width: 769px) {
  header {
    
  }
} */

/* X-LARGE BREAKPOINT */
/* @media screen and (min-width: 1025px) {
  header {
    
  }
} */