body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Modesto-Condensed;
  src: local('Modesto Condensed'),
    url('./fonts/Modesto/Modesto\ Condensed Bold.ttf') format('truetype');
}

@font-face {
  font-family: Modesto-Expanded;
  src: local('Modesto Expanded'),
    url('./fonts/Modesto/Modesto\ Expanded.ttf') format('truetype');
}

@font-face {
  font-family: Modesto-Poster;
  src: local('Modesto Poster'),
    url('./fonts/Modesto/Modesto\ Poster.ttf');
}

/* SMALL BREAKPOINT */
/* @media screen and (max-width: 480px) {
  header {
    
  }
} */

/* MEDIUM BREAKPOINT */
/* @media screen and (max-width: 768px) and (min-width: 481px) {
  header {
    
  }
} */

/* LARGE BREAKPOINT */
/* @media screen and (max-width: 1024px) and (min-width: 769px) {
  header {
    
  }
} */

/* X-LARGE BREAKPOINT */
/* @media screen and (min-width: 1025px) {
  header {
    
  }
} */